* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body {
  position: relative;
  background-color: peachpuff;
  font-family: 'Noto Sans Balinese', sans-serif;
  font-size: 20px;
  color: rgba(12,12,12,0.8);
}

main {
  position: absolute;
  top: 0;
  left: 300px;
}

a {
  color: rgba(12,12,12,0.8);
}

ul {
  list-style: none;
  width: clamp(140px,30%,400px);
  padding: 1em;
  margin: 0 0 1em ;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
  border-radius: 1em;
}

li {
  font-size: .7em;
}

li > a {
  text-decoration: none;
  color: rgba(12,12,12,0.8);
}

li > a:hover {
  text-decoration: underline;
}

li > a:visited {
  color: palevioletred;
}

.main-section {
  margin: 1em 3em 1em 2em;
  padding: 0;
}

.main-section header {
  padding-left: 1em;
  font-size: clamp(1.5em,8vw,2em);
  font-weight: bold;
  line-height: 2.5;
}

.main-section:target > header {
  color: palevioletred;
}

code {
  display: block;
  padding: 0 1em;
  margin: 1em;
  max-width: 90%;
  overflow: auto;
  background-color: black;
  border-radius: 1em;
  box-shadow: 2px 2px 4px 4px rgba(12,12,12,0.3);
  font-size: .7em;
  font-family: monospace;
  color: rgb(30, 209, 30);
  white-space: pre;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  padding: 1em;
  text-align: center;
}

.logo {
  width: 5em;
  height: 5em;
}

.nav-header {
  margin-bottom: 1em;
  font-size: 1.5em;
  line-height: 1.5;
}

.nav-link {
  display: block;
  text-decoration: none;
}

.nav-link:hover {
  border-radius: 1em;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}

p::first-letter {
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: .05em;
}

.to-top {
  display: none;
}

@media(min-width: 1700px) {
  body {
    font-size: 30px;
  }
  
  nav {
    width: 400px;
  }
  
  main {
    width: clamp(500px, 75ch, 1800px);
    left: 400px;
  }
}

@media (min-width: 1960px) {
  main {
    left: 650px;
  }
}

@media (max-width: 1095px) {
  main {
    left: 0;
  }
  
  nav {
    display: none;
  }

  .to-top {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    text-decoration: none;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    letter-spacing: -25px;
    background-color: palevioletred;
    box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
  }
}

@media (max-width: 840px) {
  main {
    position: static;
    max-width: 700px;
    margin: 1em auto;
    font-size: .8em;
  }
}

@media (max-width: 600px) {
  ul {
    display: none;
  }
}
