* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-color: peachpuff;
  font-family: 'Noto Sans Balinese', sans-serif;
  font-size: 20px;
  color: rgba(12,12,12,0.8);
}

main {
  position: absolute;
  top: 0;
  left: 350px;
}

a {
  color: rgba(12,12,12,0.8);
}

ul {
  list-style: none;
  width: 15em;
  padding: 1em;
  margin: 0 0 1em ;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
  border-radius: 1em;
}

li {
  font-size: .7em;
}

li > a {
  text-decoration: none;
  color: rgba(12,12,12,0.8);
}

li > a:hover {
  text-decoration: underline;
}

li > a:visited {
  color: palevioletred;
}

.main-section {
  margin: 1em 0;
  padding: 0; 
}

header {
  padding-left: 1em;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2.5;
}

code {
  display: block;
  padding: 0 1em 1.5em 1em;
  margin: 1em;
  max-width: 90%;
  overflow: auto;
  background-color: black;
  border-radius: 1em;
  font-size: .7em;
  color: rgb(30, 209, 30);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  padding: 1em;
  text-align: center;
}

nav > header {
  margin-bottom: 1em;
  font-size: 1.5em;
  line-height: 1.5;
}

.nav-link {
  display: block;
  text-decoration: none;
}

.nav-link:hover {
  border-radius: 1em;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}

p::first-letter {
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: .05em;
}
